# Applied Data Science Capstone

## Capstone Project - The Battle of Neighborhoods

### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Loading the London Crimes Dataset

Contains London Crime data from 2008 - 2016

Link to the dataset &#8594; https://www.kaggle.com/jboysen/london-crime

In [2]:
df = pd.read_csv("london_crime_data.csv")
df

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6
...,...,...,...,...,...,...,...
13490599,E01000504,Brent,Criminal Damage,Criminal Damage To Dwelling,0,2015,2
13490600,E01002504,Hillingdon,Robbery,Personal Property,1,2015,6
13490601,E01004165,Sutton,Burglary,Burglary in a Dwelling,0,2011,2
13490602,E01001134,Croydon,Robbery,Business Property,0,2011,5
13490603,E01003413,Merton,Violence Against the Person,Wounding/GBH,0,2015,6

In [3]:
df = df.query('value != 0')

In [4]:
df.shape

(3419099, 7)

In [5]:
df.groupby('year')['value'].mean()

year
2008    1.887939
2009    1.872582
2010    1.885662
2011    1.913644
2012    1.952047
2013    1.882217
2014    1.836427
2015    1.863578
2016    1.877659
Name: value, dtype: float64

In [13]:
df = df.query('year == 2016')
df

,lsoa_code,borough,major_category,minor_category,value,year,month
9,E01004177,Sutton,Theft and Handling,Theft/Taking of Pedal Cycle,1,2016,8
32,E01000733,Bromley,Criminal Damage,Criminal Damage To Motor Vehicle,1,2016,4
64,E01003989,Southwark,Theft and Handling,Theft From Shops,4,2016,8
112,E01002276,Havering,Burglary,Burglary in a Dwelling,1,2016,8
224,E01003674,Redbridge,Drugs,Possession Of Drugs,2,2016,11
...,...,...,...,...,...,...,...
13490419,E01001661,Greenwich,Violence Against the Person,Assault with Injury,2,2016,1
13490439,E01002200,Harrow,Violence Against the Person,Common Assault,3,2016,3
13490458,E01001862,Hammersmith and Fulham,Theft and Handling,Theft/Taking Of Motor Vehicle,2,2016,4
13490469,E01003783,Redbridge,Drugs,Possession Of Drugs,5,2016,3
13490538,E01003920,Southwark,Violence Against the Person,Harassment,5,2016,6

In [16]:
df.reset_index(drop = True, inplace = True)
df

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01004177,Sutton,Theft and Handling,Theft/Taking of Pedal Cycle,1,2016,8
1,E01000733,Bromley,Criminal Damage,Criminal Damage To Motor Vehicle,1,2016,4
2,E01003989,Southwark,Theft and Handling,Theft From Shops,4,2016,8
3,E01002276,Havering,Burglary,Burglary in a Dwelling,1,2016,8
4,E01003674,Redbridge,Drugs,Possession Of Drugs,2,2016,11
...,...,...,...,...,...,...,...
392037,E01001661,Greenwich,Violence Against the Person,Assault with Injury,2,2016,1
392038,E01002200,Harrow,Violence Against the Person,Common Assault,3,2016,3
392039,E01001862,Hammersmith and Fulham,Theft and Handling,Theft/Taking Of Motor Vehicle,2,2016,4
392040,E01003783,Redbridge,Drugs,Possession Of Drugs,5,2016,3
392041,E01003920,Southwark,Violence Against the Person,Harassment,5,2016,6